# $Id: scope_nexys2_xc3s500e.ucf,v 1.10 2009/06/10 20:57:17 jrothwei Exp $
# Copyright 2009 Joseph Rothweiler
# Joseph Rothweiler, Sensicomm LLC. Started 17Feb2009.
# http://www.sensicomm.com
#
# Copyright 2009 Joseph Rothweiler
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#-----------------------------------------------------------------------------
# I/O Connections for the Nexys 2 board manufactured by Digilent.
# USB connections are obtained from the schematic available on the
# Digilent website: http://www.digilentinc.com
# These connections are for the 500K version of the FPGA. They sell
# the board with different chips, which affects the pinouts.
# Check your documentation.
#-----------------------------------------------------------------------------

NET "CLK_50M"       LOC = "B8"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;

NET "BTN<0>"  LOC = "B18"  | IOSTANDARD = LVCMOS33 ;
NET "BTN<1>"  LOC = "D18"  | IOSTANDARD = LVCMOS33 ;
NET "BTN<2>"  LOC = "E18"  | IOSTANDARD = LVCMOS33 ;
NET "BTN<3>"  LOC = "H13"  | IOSTANDARD = LVCMOS33 ;

NET "LED<0>" LOC = "J14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared
NET "LED<1>" LOC = "J15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared
NET "LED<2>" LOC = "K15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared
NET "LED<3>" LOC = "K14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared
NET "LED<4>" LOC = "E17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # 500K
NET "LED<5>" LOC = "P15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # 500K
NET "LED<6>" LOC = "F4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # 500K
NET "LED<7>" LOC = "R4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # 500K

NET "SW<0>"         LOC = "G18"  | IOSTANDARD = LVCMOS33 ;
NET "SW<1>"         LOC = "H18"  | IOSTANDARD = LVCMOS33 ;
NET "SW<2>"         LOC = "K18"  | IOSTANDARD = LVCMOS33 ;
NET "SW<3>"         LOC = "K17"  | IOSTANDARD = LVCMOS33 ;
NET "SW<4>"         LOC = "L14"  | IOSTANDARD = LVCMOS33 ;
NET "SW<5>"         LOC = "L13"  | IOSTANDARD = LVCMOS33 ;
NET "SW<6>"         LOC = "N17"  | IOSTANDARD = LVCMOS33 ;
NET "SW<7>"         LOC = "R17"  | IOSTANDARD = LVCMOS33 ;

# The stacked 6-pin connectors. I label them U and L instead of 1-4 and 5-8.
# Pin 4 is nearest the ground pin.
#NET "JAU<1>"     LOC = "L15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JAU<2>"     LOC = "K12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JAU<3>"     LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JAU<4>"     LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "MCP492X_CS_N"   LOC = "K13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # JAL<1>
NET "MCP492X_SCK"    LOC = "L16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # JAL<2>
NET "MCP492X_SDI"    LOC = "M14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # JAL<3>
NET "MCP492X_LDAC_N" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # JAL<4>
#NET "JBU<1>"     LOC = "M13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JBU<2>"     LOC = "R18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JBU<3>"     LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JBU<4>"     LOC = "T17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JBL<1>"     LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "ADS7822_SCK"  LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # JBL<2>
NET "ADS7822_SDO"  LOC = "T18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # JBL<3>
NET "ADS7822_CS_N" LOC = "U18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # JBL<4>
#NET "JCU<1>"     LOC = "G15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JCU<2>"     LOC = "J16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JCU<3>"     LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JCU<4>"     LOC = "H16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JCL<1>"     LOC = "H15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JCL<2>"     LOC = "F14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JCL<3>"     LOC = "G16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JCL<4>"     LOC = "J12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JDU<1>"     LOC = "J13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JDU<2>"     LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JDU<3>"     LOC = "N18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JDU<4>"     LOC = "P18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
#NET "JDL<1>"     LOC = "K14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared
#NET "JDL<2>"     LOC = "K15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared
#NET "JDL<3>"     LOC = "J15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared
#NET "JDL<4>"     LOC = "J14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ; # Shared


# USB Interface.
NET "U_FDATA<0>" LOC = "R14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FDATA<1>" LOC = "R13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FDATA<2>" LOC = "P13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FDATA<3>" LOC = "T12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FDATA<4>" LOC = "N11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FDATA<5>" LOC = "R11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FDATA<6>" LOC = "P10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FDATA<7>" LOC = "R10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FADDR<0>" LOC = "T14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_FADDR<1>" LOC = "V13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_SLRD"     LOC =  "N9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_SLWR"     LOC =  "V9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_SLOE"     LOC = "V15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "U_SLCS"     LOC = "T16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; # Can be FLAGD.
NET "U_FLAGA"    LOC = "V14" | IOSTANDARD = LVCMOS33 ;
NET "U_FLAGB"    LOC = "U14" | IOSTANDARD = LVCMOS33 ;
NET "U_FLAGC"    LOC = "V16" | IOSTANDARD = LVCMOS33 ;
NET "U_IFCLK"    LOC = "T15" | IOSTANDARD = LVCMOS33 ;
NET "U_IFCLK" CLOCK_DEDICATED_ROUTE = FALSE;  # Xilinx WebPACK version 10+ needs this.
NET "U_INT0"     LOC = "U15" | IOSTANDARD = LVCMOS33 ;
NET "U_PKTEND"   LOC = "V12" | IOSTANDARD = LVCMOS33 ;

# The segment selectors. Both segment and digit drives are active-low.
NET SEG7_SEG<0> LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_SEG<1> LOC = "F18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_SEG<2> LOC = "D17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_SEG<3> LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_SEG<4> LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_SEG<5> LOC = "J17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_SEG<6> LOC = "H14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_SEG<7> LOC = "C17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_DIG<0> LOC = "F17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_DIG<1> LOC = "H17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_DIG<2> LOC = "C18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET SEG7_DIG<3> LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

# The Hirose FX/2 connector. I number the IO pins 0 - 39.

#NET AD0_DATA< 0>   LOC = "B4"   | IOSTANDARD = LVCMOS33; # D0  (IO1)
#NET AD0_DATA< 1>   LOC = "A4"   | IOSTANDARD = LVCMOS33; # D1  (IO2) 
#NET AD0_DATA< 2>   LOC = "C3"   | IOSTANDARD = LVCMOS33; # D2  (IO3)
#NET AD0_DATA< 3>   LOC = "C4"   | IOSTANDARD = LVCMOS33; # D3  (IO4) 
#NET AD0_DATA< 4>   LOC = "B6"   | IOSTANDARD = LVCMOS33; # D4  (IO5)
#NET AD0_DATA< 5>   LOC = "D5"   | IOSTANDARD = LVCMOS33; # D5  (IO6)
#NET AD0_DATA< 6>   LOC = "C5"   | IOSTANDARD = LVCMOS33; # D6  (IO7)
#NET AD0_DATA< 7>   LOC = "F7"   | IOSTANDARD = LVCMOS33; # D7  (IO8)
#NET AD1_DATA< 0>   LOC = "E7"   | IOSTANDARD = LVCMOS33; # D8  (IO9)
#NET AD1_DATA< 1>   LOC = "A6"   | IOSTANDARD = LVCMOS33; # D9  (IO10)
#NET AD1_DATA< 2>   LOC = "C7"   | IOSTANDARD = LVCMOS33; # D10 (IO11)
#NET AD1_DATA< 3>   LOC = "F8"   | IOSTANDARD = LVCMOS33; # D11 (IO12)
#NET AD1_DATA< 4>   LOC = "D7"   | IOSTANDARD = LVCMOS33; # D12 (IO13)
#NET AD1_DATA< 5>   LOC = "E8"   | IOSTANDARD = LVCMOS33; # D13 (IO14)
#NET AD1_DATA< 6>   LOC = "E9"   | IOSTANDARD = LVCMOS33; # D14 (IO15)
#NET AD1_DATA< 7>   LOC = "C9"   | IOSTANDARD = LVCMOS33; # D15 (IO16)
#NET AD2_DATA< 0>   LOC = "A8"   | IOSTANDARD = LVCMOS33; # D16 (IO17)
#NET AD2_DATA< 1>   LOC = "G9"   | IOSTANDARD = LVCMOS33; # D17 (IO18)
#NET AD2_DATA< 2>   LOC = "F9"   | IOSTANDARD = LVCMOS33; # D28 (IO19)
#NET AD2_DATA< 3>   LOC = "D10"  | IOSTANDARD = LVCMOS33; # D19 (IO20)
#NET AD2_DATA< 4>   LOC = "A10"  | IOSTANDARD = LVCMOS33; # D20 (IO21)
#NET AD2_DATA< 5>   LOC = "B10"  | IOSTANDARD = LVCMOS33; # D21 (IO22)
#NET AD2_DATA< 6>   LOC = "A11"  | IOSTANDARD = LVCMOS33; # D22 (IO23)
#NET AD2_DATA< 7>   LOC = "D11"  | IOSTANDARD = LVCMOS33; # D23 (IO24)
# IFD_DELAY_VALUE=0 ok 2 bad 4 bad 6 bad. (0-6 are the alledgedly valid values).
# Using NOT CLK_100M: 0 not too bad. a few spikes. 2, 4, 6 similar.
# IBUF_DELAY_VALUE.......IFD_DELAY_VALUE
# 0                      Any
# Any                     0
# 1-6                    0-3
# 7-12                   4-6
# IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=8 works at 100 MHz. 
NET AD3_DATA<0> LOC = "E10"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D24 (IO25)
NET AD3_DATA<1> LOC = "B11"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D25 (IO26)
NET AD3_DATA<2> LOC = "C11"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D26 (IO27)
NET AD3_DATA<3> LOC = "E11"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D27 (IO28)
NET AD3_DATA<4> LOC = "F11"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D28 (IO29)
NET AD3_DATA<5> LOC = "E12"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D29 (IO30)
NET AD3_DATA<6> LOC = "F12"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D30 (IO31)
NET AD3_DATA<7> LOC = "A13"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0; # D31 (IO32)
NET AD01_CLK    LOC = "B13"  | IOSTANDARD = LVCMOS33; # D32 (IO33)
NET AD23_CLK    LOC = "E13"  | IOSTANDARD = LVCMOS33; # D33 (IO34)
NET AD23_PWRDN  LOC = "A14"  | IOSTANDARD = LVCMOS33; # D34 (IO35)
NET AD01_PWRDN  LOC = "C14"  | IOSTANDARD = LVCMOS33; # D35 (IO36)
#NET HIROSE_D<36>   LOC = "D14"  | IOSTANDARD = LVCMOS33; 
#NET HIROSE_D<37>   LOC = "B14"  | IOSTANDARD = LVCMOS33; 
#NET HIROSE_D<38>   LOC = "A16"  | IOSTANDARD = LVCMOS33; 
#NET HIROSE_D<39>   LOC = "B16"  | IOSTANDARD = LVCMOS33; 
#NET HIROSE_TMS    LOC = "D15"  | IOSTANDARD = LVCMOS33; 
#NET HIROSE_TCK    LOC = "A17"  | IOSTANDARD = LVCMOS33; 
#NET HIROSE_CLKIN  LOC = "B9"   | IOSTANDARD = LVCMOS33; 
#NET HIROSE_CLKOUT LOC = "D9"   | IOSTANDARD = LVCMOS33; 
#NET HIROSE_CLKIO  LOC = "M9"   | IOSTANDARD = LVCMOS33; 
#
NET VGA_RED<0> LOC = "R9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET VGA_RED<1> LOC = "T8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET VGA_RED<2> LOC = "R8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
#NET VGA_GRN<0> LOC = "N8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
#NET VGA_GRN<1> LOC = "P8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
#NET VGA_GRN<2> LOC = "P6"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
# Blue is only 2 bits.
#NET VGA_BLU<1> LOC = "U5"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
#NET VGA_BLU<2> LOC = "U4"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
NET VGA_HS     LOC = "T4"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 
#NET VGA_VS     LOC = "U3"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
