# $Id: mhz100q2_ocscope.ucf,v 1.3 2011/09/29 23:27:52 jrothwei Exp $
# Joseph Rothweiler, Sensicomm LLC. Branch 08Jul2010 from
#   p03_scope.ucf 1.3 2010/04/03 00:01:45

#################################################
# Settings specific to this Board.
CONFIG VCCAUX = "3.3" ;

#################################################
# The onboard crystal oscillators.

# NET "CLK_48M"       LOC = "P43"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.833 ;
NET "CLK_50M"       LOC = "P44"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.0   ;
NET "CLK_50M"  CLOCK_DEDICATED_ROUTE = FALSE;

#################################################
# The lone LED.

NET "LED1"        LOC = "P73"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#################################################
# The USB section.

# USB_ON: The 1.5k resistor that says a Full speed device is connected.
NET "USB_ON"    LOC = "P28"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
net dplus       loc = "P19"  | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=24;
net dminus      loc = "P20"  | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=24;

#################################################
# The A/D converters

NET AD0_DATA<0> LOC = "P3"   | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_DATA<1> LOC = "P4"   | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_DATA<2> LOC = "P5"   | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_DATA<3> LOC = "P6"   | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_DATA<4> LOC = "P7"   | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_DATA<5> LOC = "P9"   | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_DATA<6> LOC = "P10"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_DATA<7> LOC = "P12"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;

NET AD1_DATA<0> LOC = "P56"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_DATA<1> LOC = "P57"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_DATA<2> LOC = "P59"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_DATA<3> LOC = "P60"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_DATA<4> LOC = "P61"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_DATA<5> LOC = "P62"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_DATA<6> LOC = "P68"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_DATA<7> LOC = "P70"  | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;

NET AD0_CLK      LOC = "P15" | IOSTANDARD = LVCMOS33;
NET AD1_CLK      LOC = "P64" | IOSTANDARD = LVCMOS33;
NET AD0_CLK_LOOP LOC = "P16" | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD1_CLK_LOOP LOC = "P65" | IOSTANDARD = LVCMOS33 | IFD_DELAY_VALUE=0 | IBUF_DELAY_VALUE=0;
NET AD0_PWRDN  LOC = "P13"   | IOSTANDARD = LVCMOS33;
NET AD1_PWRDN  LOC = "P71"   | IOSTANDARD = LVCMOS33;

#################################################
# Test port P8: the 6-pin front-facing port.

# NET TP8<0> LOC= "P77" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16;
# NET TP8<1> LOC= "P78" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16;
# NET TP8<2> LOC= "P83" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16;
# NET TP8<3> LOC= "P84" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16;

#################################################
# Test port P9: the 10-pin front port. Used for 8-bit DAC.
 
NET TP9<0> LOC= "P85" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  3
NET TP9<1> LOC= "P86" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  4
NET TP9<2> LOC= "P88" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  5
NET TP9<3> LOC= "P89" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  6
NET TP9<4> LOC= "P93" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  7
NET TP9<5> LOC= "P94" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  8
NET TP9<6> LOC= "P98" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  9
NET TP9<7> LOC= "P99" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin 10

#################################################
# Test port P10: the 10-pin back port (near the regulators).

# NET TP10<0> LOC= "P40" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  3
# NET TP10<1> LOC= "P41" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  4
# NET TP10<2> LOC= "P32" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  5
# NET TP10<3> LOC= "P33" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  6
# NET TP10<4> LOC= "P34" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  7
# NET TP10<5> LOC= "P35" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  8
# NET TP10<6> LOC= "P36" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  9
# NET TP10<7> LOC= "P37" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin 10

#################################################
# Test port P11: the 10-pin side port (Shared with the configuration pins).

# NET TP11<0> LOC= "P25" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  3
# NET TP11<1> LOC= "P23" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  4
# NET TP11<2> LOC= "P24" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  5
# NET TP11<3> LOC= "P39" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  6
# NET TP11<4> LOC= "P31" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  7
# NET TP11<5> LOC= "P30" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  8
# NET TP11<6> LOC= "P29" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin  9
# NET TP11<7> LOC= "P49" | IOSTANDARD = LVCMOS33 |  SLEW=FAST | DRIVE=16; # Pin 10

#################################################

# NET FLASH_CS_   LOC = "P27"
# NET FLASH_SI    LOC = "P46"
# NET FLASH_SO    LOC = "P51"  # Shared with platform flash.
# NET FLASH_SCK   LOC = "P53"  # Shared with platform flash.
# NET FLASH_WP_   LOC = "P52"
# NET FLASH_HOLD_ LOC = "P50"
